/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 300;
    src: url('/static/fonts/Circular_Air-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/Circular_Air-Book.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/Circular_Air-Bold.woff2') format('woff2');
}

/* ICONS */

.material-icons {
    vertical-align: middle;
}

.md-18 {
    font-size: 18px;
}

.md-link {
    font-size: 1em;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

/* MAIN */

html, body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 1em;
    font-weight: 400;
    background: #12181F;
    color: #FFF;
    line-height: 1.5;
    height: 100%;
}

body.light {
    background: #FFF;
    color: rgba(16, 16, 16, 0.7);
}

strong {
    font-weight: 500;
}

.flexbox {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

/* APP BAR */

#header {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: relative;
    top: 0;
    z-index: 1;
    background: #12181F;
    transition: top 0.2s;
}

#header.light {
    background: #FFF;
}

#header.hide {
    top: -120px;
    transition: top 0.2s;
}

#header .logo {
    padding: 0.750em 1em;
    /*color: #fff;*/
    background: rgba(0, 0, 0, 0.25);
}

#header .logo.light {
    background: rgba(0, 0, 0, 0.05);
}

#header h1 {
    -webkit-align-items: center;
    align-items: center;
}

#header .logo h1 .material-icons {
    margin-right: 2px;
}

#header #app-controls {
    position: relative;
    top: -1px;
    padding-right: 1em;
}

#header #app-controls a {
    text-transform: uppercase;
    font-size: 0.625em;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 40px;
    align-items: center;
    margin: 0 0.5em;
    border: 2px solid #1C2A3C;
}

#header #app-controls a.light {
    border: 2px solid #F2F2F2;
}

#header #app-controls a:last-child {
    margin-right: 0;
}

#header #app-controls a.selected, #header #app-controls a:hover {
    background: #1C2A3C;
    transition: background 0.2s;
}

#header #app-controls a.selected.light, #header #app-controls a.light:hover {
    background: #F2F2F2;
    transition: background 0.2s;
}

/* UI */

.ui-dark, .ui-light {
    background: #1C2A3C;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05), 0 2px 10px -1px rgba(0, 0, 0, .15), 0 1px 2px 0 rgba(0, 0, 0, .22);
    border-radius: 3px;
}

.ui-light {
    background: #FFF;
    color: rgba(16, 16, 16, 0.7);
}

.dark-border {
    border-top: 1px solid #111820;
}

.light-border {
    border-top: 1px solid rgba(16, 16, 16, 0.1);
}

#overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 2;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#overlay.light {
    background: rgba(255, 255, 255, 0.7);
}

.modal {
    animation-duration: 0.4s;
    height: 300px;
    width: 300px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
}

/* MAP */

#map-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    overflow: hidden;
}

#map {
    background: #151E29;
    width: 100%;
    height: 100%;
}

#map .gm-style-cc {
    display: none;
}

#map a[title='Click to see this area on Google Maps'] {
    pointer-events: none;
    cursor: default;
}

#map-controls {
    position: absolute;
    left: 12px;
    top: 62px;
    padding: 0.750em 0;
    width: auto;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#map-controls select {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: #FFF;
    text-transform: uppercase;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    padding: 0 1.25em 0 0;
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0;
    cursor: pointer;
    transition: all 0.3s;
}

#map-controls select:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s;
}

#map-controls select::-ms-expand {
    display: none;
}

#map-controls select.light {
    color: rgba(16, 16, 16, 0.7);
    border-bottom: 1px solid rgba(16, 16, 16, 0.25);
}

#map-controls .custom-select {
    position: relative;
    font-size: 0.750em;
    margin: 0 1em;
}

#map-controls .custom-select .label {
    margin-right: 12px;
    color: rgba(255, 255, 255, 0.5);
}

#map-controls .custom-select .label.light {
    color: rgba(16, 16, 16, 0.5);
}

#map-controls .custom-select .arrow {
    position: absolute;
    right: -4px;
    top: -1px;
    pointer-events: none;
}

.map-control {
    cursor: pointer;
    text-align: center;
}

#lat-lng {
    font-size: 0.750em;
    padding: 0.750em;
    width: 160px;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: bottom 0.2s;
}

#zoom-control, #contrast-control, #project-info-control {
    right: 0;
    transition: right 0.2s;
    position: relative;
}

#zoom-control.hide, #contrast-control.hide, #project-info-control.hide {
    right: -50px;
    transition: right 0.2s;
    position: relative;
}

/* GALLERY */

#instafeed {
    width: calc(100% - 20px);
    height: 100%;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 10px 10px 20px 10px;
    border-radius: 3px;
}
#instafeed a {
    width: calc(25% - 20px);
    margin: 10px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    overflow: hidden;
}
#instafeed a img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: transform 0.3s;
}
#instafeed a img:hover {
    transform: scale3d(1.15, 1.15, 1.15);
    transition: transform 0.3s;
}

/* ANIMATION */

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

/* RESPONSIVE STUFF */

@media screen and (max-width: 37.5em) {
    .md-link {
        top: 0;
    }
    #map-controls {
        width: calc(100% - 24px);
    }
    #header {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    #header .logo {
        margin-right: 0.5em;
    }
    #header #app-controls {
        top: 0px;
    }
    #instafeed a {
        width: calc(33.3332% - 20px);
    }
}

@media screen and (max-width: 22em) {
    .md-link {
        display: none;
    }
    #header .logo {
        font-size: 0.875em;
        padding: 1.108em 1em;
        margin-right: 0.5em;
    }
    #map-controls .custom-select {
        font-size: 0.688em;
    }
}
