<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="geospatial data visualization, data visualization, google maps api, moves data, motion visualization">
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
<meta name="description" content="A visual journey of 2017 by Bilal Karim using the Google Maps API and Moves.">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
<meta name="theme-color" content="#12181F">
<title>Visualog &bull; A visual journey</title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="header" class="flexbox">
        <div class="logo flexbox">
            <a href="/"><h1 class="flexbox"><i class="material-icons md-18">pin_drop</i><strong>Visualog</strong></h1></a>
        </div>
        <div id="app-controls" class="flexbox">
            <a href="#" class="selected flexbox"><i class="material-icons md-link">map</i> Map</a>
            <a href="#" class="flexbox"><i class="material-icons md-link">camera_alt</i> Photos</a>
            <a href="#" class="flexbox"><i class="material-icons md-link">equalizer</i> Stats</a>
        </div>
        <div class="description">
            <h1>Visual journey of 2017</h1>
        </div>
        <div id="map-controls" class="flexbox ui-dark">
            <div class="custom-select">
                <span class="label">City</span>
                <select id="city">
                    <option value="calgary">Calgary</option>
                    <option value="toronto">Toronto</option>
                </select>
                <span class="arrow"><i class="material-icons md-18">keyboard_arrow_down</i></span>
            </div>
            <div class="custom-select">
                <span class="label">Activity</span>
                <select id="activity">
                    <option value="all">All</option>
                    <option value="places">Places</option>
                    <option value="motion">Driving</option>
                    <option value="motion">Walking</option>
                    <option value="motion">Transit</option>
                    <option value="motion">Street View</option>
                </select>
                <span class="arrow"><i class="material-icons md-18">keyboard_arrow_down</i></span>
            </div>
        </div>
    </div>
    <div id="map-container">
        <div id="map"></div>
    </div>
    <div id="lat-lng" class="ui-dark"></div>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyCivLBv9EE4ATMSsf2HYdDCFc97opYPSUw&amp;use_slippy=true"></script>
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/gmap.js"></script>
<script>window.onload = function() { initMap(); };</script>
</body>
</html>
