<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="geospatial data visualization, data visualization, google maps api, moves data, motion visualization, instagram year, healthkit map">
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
<meta name="description" content="A visual journey of Bilal Karim in 2017 presented using the Google Maps API, Moves, and Instagram.">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
<meta name="theme-color" content="#12181F">
<meta name="csrf-token" content="{{ csrf_token() }}">
<title>Visualog &bull; A visual journey</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/style.min.css">
</head>
