<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="geospatial data visualization, data visualization, google maps api, moves data, motion visualization, instagram year, healthkit map">
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
<meta name="description" content="A visual journey of Bilal Karim in 2017 presented using the Google Maps API, Moves, Instagram, and HealthKit.">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
<meta name="theme-color" content="#12181F">
<meta name="csrf-token" content="{{ csrf_token() }}">
<title>Visualog &bull; A visual journey</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/style.min.css">
</head>
<body>
    <div id="header" class="flexbox">
        <div class="logo flexbox">
            <a href="/"><h1 class="flexbox"><i class="material-icons md-18">pin_drop</i><strong>Visualog</strong></h1></a>
        </div>
        <div id="app-controls" class="flexbox">
            <a href="/" class="selected flexbox"><i class="material-icons md-link">map</i> Map</a>
            <a href="/photos" class="flexbox"><i class="material-icons md-link">camera_alt</i> Photos</a>
            <a href="/stats" class="flexbox"><i class="material-icons md-link">equalizer</i> Stats</a>
        </div>
        <div id="map-controls" class="flexbox ui-dark">
            <div class="custom-select">
                <span class="label">City</span>
                <select id="city">
                    <option value="banff">Banff</option>
                    <option value="brampton">Brampton</option>
                    <option value="burlington">Burlington</option>
                    <option value="calgary" selected>Calgary</option>
                    <option value="etobicoke">Etobicoke</option>
                    <option value="hamilton">Hamilton</option>
                    <option value="mississauga">Mississauga</option>
                    <option value="oakville">Oakville</option>
                    <option value="toronto">Toronto</option>
                </select>
                <span class="arrow"><i class="material-icons md-18">keyboard_arrow_down</i></span>
            </div>
            <div class="custom-select">
                <span class="label">Activity</span>
                <select id="activity">
                    <option value="all">All</option>
                    <option value="places">Places</option>
                    <option value="driving">Driving</option>
                    <option value="walking">Walking</option>
                    <option value="transit">Transit</option>
                    <option value="airplane">Airplane</option>
                    <option value="streetview">Street View</option>
                </select>
                <span class="arrow"><i class="material-icons md-18">keyboard_arrow_down</i></span>
            </div>
        </div>
    </div>
    <div id="map-container">
        <div id="map"></div>
        <div id="lat-lng" class="ui-dark"></div>
    </div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCivLBv9EE4ATMSsf2HYdDCFc97opYPSUw&amp;use_slippy=true"></script>
<script src="/static/js/vendor/infobox.js"></script>
<script src="/static/js/app.min.js"></script>
<script>window.onload = function() { initMap(); };</script>
</body>
</html>
