<div class="logo flexbox">
    <a href="/"><h1 class="flexbox"><img src="/static/images/visualog-logo.svg" alt="visualog Logo"><strong class="title">visualog</strong></h1></a>
</div>
<div id="app-controls" class="flexbox">
    {%- for endpoint, title in [ ("map", "Map"), ("stats", "Stats"), ("photos", "Photos") ] %}
    {% if endpoint == request.endpoint %}
    <a href="{{ url_for(endpoint) }}" class="selected flexbox">{{ title }}</a>
    {% else %}
    <a href="{{ url_for(endpoint) }}" class="flexbox">{{ title }}</a>
    {% endif %}
    {% endfor %}
</div>
