{% include "header.html" %}
<body>
    <div id="header" class="flexbox">
        {% include "menu.html" %}
    </div>
    <div id="instafeed" class="flexbox"></div>
<script src="/static/js/vendor/instafeed.min.js"></script>
<script>
// Load Instafeed
var feed = new Instafeed({
    get: 'user',
    userId: '284494',
    clientId: '{{ client_id }}',
    accessToken: '{{ access_token }}',
    limit: 32,
    resolution: 'standard_resolution',
    sortBy: 'most-liked'
});
feed.run();
</script>
</body>
</html>
