{% include "header.html" %}
<body>
    <div id="header" class="flexbox">
        {% include "menu.html" %}
    </div>
    <div class="content flexbox">
        <div class="section">
            <h1>From 89 shared photos on Instagram, here are the <strong>most popular</strong>.</h1>
        </div>
        <div id="instafeed" class="flexbox"></div>
    </div>
<script src="/static/js/vendor/instafeed.min.js"></script>
<script>
// Load Instafeed
var feed = new Instafeed({
    get: 'user',
    userId: '284494',
    clientId: '{{ client_id }}',
    accessToken: '{{ access_token }}',
    limit: 32,
    resolution: 'standard_resolution',
    sortBy: 'most-liked'
});
feed.run();
</script>
<script src="/static/js/vendor/jquery.js"></script>
<script>
$(document).ready(function(){
    var lightTheme = sessionStorage.getItem('light-theme');
    if (lightTheme) {
        $('body, #header, #header > .logo, #app-controls a, #app-controls a.selected, .section, .card').addClass('light');
    }
});
</script>
{% include "analytics.html" %}
</body>
</html>
