{% include "header.html" %}
<body>
    <div id="header" class="flexbox">
        {% include "menu.html" %}
    </div>
    <div id="stats" class="flexbox">
        <div class="section">
            <h1>Top means of transportation (by duration)</h1>
        </div>
        <div class="card-container flexbox">
        {% for x in allDuration %}
        {% set activity = x['_id'] %}
            <div class="card">
                <div class="title flexbox">
                    <span class="circle {{ activity }}"></span>
                    <h1><strong>{{ x['_id']|title }}</strong></h1>
                </div>
                {% if activity == 'car' %}
                    <h2>Drove {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/60)|round|int }} minutes.</h2>
                {% elif activity == 'walking' %}
                    <h2>Walked {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/60)|round|int }} minutes.</h2>
                {% elif activity == 'train' %}
                    <h2>Traveled by train for {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/60)|round|int }} minutes.</h2>
                {% elif activity == 'airplane' %}
                    <h2>Flew {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/3600)|round|int }} hours.</h2>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="section">
            <h1>Top means of transportation (by distance)</h1>
        </div>
        <div class="card-container flexbox">
        {% for x in allDistance %}
        {% set activity = x['_id'] %}
            <div class="card">
                <div class="title flexbox">
                    <span class="circle {{ activity }}"></span>
                    <h1><strong>{{ x['_id']|title }}</strong></h1>
                </div>
                {% if activity == 'car' %}
                    <h2>Drove {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% elif activity == 'walking' %}
                    <h2>Walked {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% elif activity == 'train' %}
                    <h2>Traveled by train for {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% elif activity == 'airplane' %}
                    <h2>Flew {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="section">
            <h1>Top visited places</h1>
        </div>
        <div class="card-container flexbox">
        {% for x in allCategories %}
        {% set place = x['_id'] %}
            <div class="card places">
                <div class="title flexbox">
                    <span class="circle {{ place }}"></span>
                    <h1><strong>{{ x['_id']|title }}</strong></h1>
                </div>
                <h2> {{ x['total'] }} visits</h2>
                {% if place == 'coffee shop' %}
                <h2>Most visited: Starbucks</h2>
                {% elif place == 'restaurant' %}
                <h2>Most visited: What A Bagel</h2>
                {% elif place == 'transit station' %}
                <h2>Most visited: McKnight/Westwinds Station</h2>
                {% elif place == 'airport' %}
                <h2>Most visited: Toronto Pearson International Airport</h2>
                {% elif place == 'supermarket' %}
                <h2>Most visited: Real Canadian Superstore</h2>
                {% elif place == 'shopping mall' %}
                <h2>Most visited: CrossIron Mills</h2>
                {% elif place == 'hotel' %}
                <h2>Most visited: Quality Hotel Burlington</h2>
                {% elif place == 'park' %}
                <h2>Most visited: Niagara Falls</h2>
                {% elif place == 'car wash' %}
                <h2>Most visited: Top Gear Car Wash</h2>
                {% elif place == 'pharmacy' %}
                <h2>Most visited: Shoppers Drugmart</h2>
                {% elif place == 'bakery' %}
                <h2>Most visited: Crave Cupcakes</h2>
                {% elif place == 'movie theatre' %}
                <h2>Most visited: SilverCity CrossIron Mills Cinemas & XSCAPE Entertainment Centre</h2>
                {% elif place == 'coworking space' %}
                <h2>Most visited: Work Nicer</h2>
                {% elif place == 'university' %}
                <h2>Most visited: University of Calgary Earth Sciences Building</h2>
                {% elif place == 'ice cream shop' %}
                <h2>Most visited: Village Ice Cream</h2>
                {% elif place == 'bridge' %}
                <h2>Most visited: Peace Bridge</h2>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
<script src="/static/js/vendor/jquery.js"></script>
<script>
$(document).ready(function(){
    var lightTheme = sessionStorage.getItem('light-theme');
    if (lightTheme) {
        $('body, #header, #header > .logo, #app-controls a, #app-controls a.selected, .section, .card').addClass('light');
    }
});
</script>
</body>
</html>
