<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="geospatial data visualization, data visualization, google maps api, moves data, motion visualization, instagram year, healthkit map">
<link rel="apple-touch-icon-precomposed" href="/static/images/apple-touch-icon.png">
<meta name="description" content="A visual journey of Bilal Karim in 2017 presented using the Google Maps API, Moves, Instagram, and HealthKit.">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1">
<meta name="theme-color" content="#12181F">
<meta name="csrf-token" content="{{ csrf_token() }}">
<title>Visualog &bull; A visual journey</title>
<link rel="shortcut icon" href="/static/favicon.ico">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/static/css/style.min.css">
</head>
<body>
    <div id="header" class="flexbox">
        <div class="logo flexbox">
            <a href="/"><h1 class="flexbox"><i class="material-icons md-18">pin_drop</i><strong>Visualog</strong></h1></a>
        </div>
        <div id="app-controls" class="flexbox">
            <a href="/" class="flexbox"><i class="material-icons md-link">map</i> Map</a>
            <a href="/stats" class="selected flexbox"><i class="material-icons md-link">equalizer</i> Stats</a>
            <a href="/photos" class="flexbox"><i class="material-icons md-link">camera_alt</i> Photos</a>
        </div>
    </div>
    <div id="stats" class="flexbox">
        <div class="section">
            <h1>Top means of transportation (by duration)</h1>
        </div>
        <div class="card-container flexbox">
        {% for x in allDuration %}
        {% set activity = x['_id'] %}
            <div class="card">
                <div class="title flexbox">
                    <span class="circle {{ activity }}"></span>
                    <h1><strong>{{ x['_id']|title }}</strong></h1>
                </div>
                {% if activity == 'car' %}
                    <h2>Drove {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/60)|round|int }} minutes.</h2>
                {% elif activity == 'walking' %}
                    <h2>Walked {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/60)|round|int }} minutes.</h2>
                {% elif activity == 'train' %}
                    <h2>Traveled by train for {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/60)|round|int }} minutes.</h2>
                {% elif activity == 'airplane' %}
                    <h2>Flew {{ (x['total']/3600)|round|int }} hours, with an average time of {{ (x['avg']/3600)|round|int }} hours.</h2>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="section">
            <h1>Top means of transportation (by distance)</h1>
        </div>
        <div class="card-container flexbox">
        {% for x in allDistance %}
        {% set activity = x['_id'] %}
            <div class="card">
                <div class="title flexbox">
                    <span class="circle {{ activity }}"></span>
                    <h1><strong>{{ x['_id']|title }}</strong></h1>
                </div>
                {% if activity == 'car' %}
                    <h2>Drove {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% elif activity == 'walking' %}
                    <h2>Walked {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% elif activity == 'train' %}
                    <h2>Traveled by train for {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% elif activity == 'airplane' %}
                    <h2>Flew {{ (x['total']/1000)|round|int }} km, with an average distance of {{ (x['avg']/1000)|round|int }} km.</h2>
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="section">
            <h1>Top visited places</h1>
        </div>
        <div class="card-container flexbox">
        {% for x in allCategories %}
        {% set place = x['_id'] %}
            <div class="card places">
                <div class="title flexbox">
                    <span class="circle {{ place }}"></span>
                    <h1><strong>{{ x['_id']|title }}</strong></h1>
                </div>
                <h2> {{ x['total'] }} times</h2>
                {% if place == 'coffee shop' %}
                <h2>Top spot: Starbucks</h2>
                {% elif place == 'restaurant' %}
                <h2>Top spot: What A Bagel</h2>
                {% elif place == 'transit station' %}
                <h2>Top spot: McKnight/Westwinds Station</h2>
                {% elif place == 'airport' %}
                <h2>Top spot: Toronto Pearson International Airport</h2>
                {% elif place == 'supermarket' %}
                <h2>Top spot: Real Canadian Superstore</h2>
                {% elif place == 'shopping mall' %}
                <h2>Top spot: CrossIron Mills</h2>
                {% elif place == 'hotel' %}
                <h2>Top spot: Quality Hotel Burlington</h2>
                {% elif place == 'park' %}
                <h2>Top spot: Niagara Falls</h2>
                {% elif place == 'car wash' %}
                <h2>Top spot: Top Gear Car Wash</h2>
                {% elif place == 'pharmacy' %}
                <h2>Top spot: Shoppers Drugmart</h2>
                {% elif place == 'bakery' %}
                <h2>Top spot: Crave Cupcakes</h2>
                {% elif place == 'movie theatre' %}
                <h2>Top spot: SilverCity CrossIron Mills Cinemas & XSCAPE Entertainment Centre</h2>
                {% elif place == 'coworking space' %}
                <h2>Top spot: Work Nicer</h2>
                {% elif place == 'university' %}
                <h2>Top spot: University of Calgary Earth Sciences Building</h2>
                {% elif place == 'ice cream shop' %}
                <h2>Top spot: Village Ice Cream</h2>
                {% elif place == 'bridge' %}
                <h2>Top spot: Peace Bridge</h2>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
</body>
</html>
